<div class="form-check" {% if app.request.attributes.get('_route') != 'user_register' %} style=" padding-left: 2.3em;"{% endif %}>
    <input type="checkbox" id="{{ form.vars.name }}_check_password" name="{{ form.vars.name }}[check_password]"
           class="d-inline form-check-input" value="1" {% if check_password|default %}checked{% endif %}>
    <label class="form-check-label" for="{{ form.vars.name }}_check_password">Check if the password was compromised</label>
    <i class="fa-solid fa-circle-question" data-bs-toggle="modal" data-bs-target="#checkPassword"></i>
</div>
<div class="modal fade" id="checkPassword" tabindex="-1" aria-labelledby="checkPasswordlabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkPasswordLabel">Comment savoir si mon mot de passe a déjà été piraté ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Ces dernières années, plusieurs fuites de données ont mis à mal la confidentialité des identifiants de connexion
                    utilisés par des millions d'internautes.<br>
                    Des listes d'adresses emails avec leurs mots de passe associés sont régulièrement diffusées sur <b>Internet</b>
                    et se retrouvent à la portée de personnes malintentionnées.
                </p>
                <p>
                    Les utilisateurs ayant pris la mauvaise habitude d'employer <strong>un même mot de passe</strong> sur plusieurs services
                    en ligne se retrouvent potentiellement menacés.
                </p>
                <p>
                    Il existe donc une probabilité que votre mot de passe ait déjà été compromis !
                </p>
                <p>
                    Pour cela nous vous offrons la possibilité de vérifier votre mot de passe en utilisant le site le plus connu
                    <a href="https://haveibeenpwned.com/Passwords">Have I Been Pwned</a>, qui signifie <strong>"Me suis-je fait avoir ?"</strong>.
                </p>
                <p>
                    Ce site fonctionne comme un moteur de recherche, il suffit de renseigner son mot de passe qui sera ensuite comparé à
                    leur base.
                </p>
                <p>
                    <strong>Attention</strong>, <u>ce n'est pas votre mot de passe qui est transmis</u>, mais une empreinte de
                    celui-ci chiffré avec un algorithme appelé <strong>SHA-1</strong>.
                </p>
                <p>
                    Par exemple, le mot de passe <strong>toto</strong> donnera comme empreinte en <b>SHA-1</b> :
                    <b>0b9c2625dc21ef05f6ad4ddf47c5f203837aa32c</b>.
                    <br>
                    Ainsi, seuls les cinq premiers caractères, à savoir <b>0b9c2</b>, seront transmis pour comparaison.
                </p>
                <p class="text-danger fw-bold">
                    Si un enregistrement correspond, cela signifie que votre mot de passe a été révélé sur <b>Internet</b> et<br>
                    <span >nous vous recommandons fortement d'en choisir un autre.</span>
                </p>
                <p>
                    Pour plus d'informations : <a href="https://haveibeenpwned.com">https://haveibeenpwned.com</a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
